In [12]:
import pandas as pd

# Load the Excel file
file_path = "/Users/beek/Documents/Climate & Food Supply Analysis in Japan/Vegetable production and shipping 2023.xlsx"
df = pd.read_excel(file_path, header=None)  # Load without assuming the first row is the header

# Preview the raw data
print(df.head(20))

                              0    1   2   3   4       5        6        7
0                           NaN  NaN NaN NaN NaN     NaN      NaN      NaN
1                           NaN  NaN NaN NaN NaN     NaN      NaN      NaN
2                           NaN  NaN NaN NaN NaN     NaN      NaN      NaN
3   ２　令和５年産野菜指定産地の作付面積、収穫量及び出荷量  NaN NaN NaN NaN     NaN      NaN      NaN
4                           NaN  NaN NaN NaN NaN     NaN      NaN      NaN
5                           NaN  NaN NaN NaN NaN     NaN      NaN      NaN
6                           NaN  NaN NaN NaN NaN     NaN      NaN      NaN
7                品            目  NaN NaN NaN NaN    作付面積      収穫量      出荷量
8                           NaN  NaN NaN NaN NaN     NaN      NaN      NaN
9                           NaN  NaN NaN NaN NaN     NaN      NaN      NaN
10                          NaN  NaN NaN NaN NaN     NaN      NaN      NaN
11                          NaN  NaN NaN NaN NaN     NaN      NaN      NaN
12                          NaN  NaN NaN NaN NaN      ha        ｔ        ｔ
13                            計  NaN NaN NaN NaN  151600  6611000  6061000
14                          NaN  NaN NaN NaN NaN     NaN      NaN      NaN
15                         だいこん  NaN NaN NaN NaN    7920   433300   402200
16                          NaN    春 NaN NaN NaN    1090    63500    60600
17                          NaN    夏 NaN NaN NaN    3160   137700   129700
18                          NaN   秋冬 NaN NaN NaN    3660   232100   211900
19                          NaN  NaN NaN NaN NaN     NaN      NaN      NaN

In [13]:
# Skip unnecessary rows
df = pd.read_excel(file_path, skiprows=13, header=None)

# Preview the cleaned structure
print(df.head(10))

      0    1   2   3   4         5          6          7
0     計  NaN NaN NaN NaN  151600.0  6611000.0  6061000.0
1   NaN  NaN NaN NaN NaN       NaN        NaN        NaN
2  だいこん  NaN NaN NaN NaN    7920.0   433300.0   402200.0
3   NaN    春 NaN NaN NaN    1090.0    63500.0    60600.0
4   NaN    夏 NaN NaN NaN    3160.0   137700.0   129700.0
5   NaN   秋冬 NaN NaN NaN    3660.0   232100.0   211900.0
6   NaN  NaN NaN NaN NaN       NaN        NaN        NaN
7  にんじん  NaN NaN NaN NaN   10700.0   417000.0   386200.0
8   NaN   春夏 NaN NaN NaN    2490.0   111000.0   103400.0
9   NaN    秋 NaN NaN NaN    3990.0   146700.0   136500.0

In [14]:
df = df.drop(df.columns[2:5], axis=1)  # Drops columns at index 2, 3, and 4
print(df.head(10))

      0    1         5          6          7
0     計  NaN  151600.0  6611000.0  6061000.0
1   NaN  NaN       NaN        NaN        NaN
2  だいこん  NaN    7920.0   433300.0   402200.0
3   NaN    春    1090.0    63500.0    60600.0
4   NaN    夏    3160.0   137700.0   129700.0
5   NaN   秋冬    3660.0   232100.0   211900.0
6   NaN  NaN       NaN        NaN        NaN
7  にんじん  NaN   10700.0   417000.0   386200.0
8   NaN   春夏    2490.0   111000.0   103400.0
9   NaN    秋    3990.0   146700.0   136500.0

In [16]:
df = df.dropna(how="all")  # Removes rows where all values are NaN (completely empty rows)
print(df.head(20))

                    0    1         5          6          7
0                   計  NaN  151600.0  6611000.0  6061000.0
2                だいこん  NaN    7920.0   433300.0   402200.0
3                 NaN    春    1090.0    63500.0    60600.0
4                 NaN    夏    3160.0   137700.0   129700.0
5                 NaN   秋冬    3660.0   232100.0   211900.0
7                にんじん  NaN   10700.0   417000.0   386200.0
8                 NaN   春夏    2490.0   111000.0   103400.0
9                 NaN    秋    3990.0   146700.0   136500.0
10                NaN    冬    4240.0   159300.0   146300.0
12  ばれいしょ  　　　（じゃがいも）  NaN   48700.0  1821000.0  1634000.0
14             秋冬さといも  NaN    1350.0    26900.0    21300.0
16               はくさい  NaN    5740.0   427200.0   390100.0
17                NaN    春     869.0    65400.0    61900.0
18                NaN    夏    1850.0   148100.0   136100.0
19                NaN   秋冬    3020.0   213700.0   192100.0
21               キャベツ  NaN   17400.0   864900.0   791300.0
22                NaN    春    3170.0   141900.0   132500.0
23                NaN   夏秋    6630.0   373700.0   330300.0
24                NaN    冬    7620.0   349300.0   328500.0
26             ほうれんそう  NaN    5860.0    59000.0    53000.0

In [22]:
df[0] = df[0].ffill()
print(df.head(10))

                    0    1         5          6          7
0                   計  NaN  151600.0  6611000.0  6061000.0
2                だいこん  NaN    7920.0   433300.0   402200.0
3                だいこん    春    1090.0    63500.0    60600.0
4                だいこん    夏    3160.0   137700.0   129700.0
5                だいこん   秋冬    3660.0   232100.0   211900.0
7                にんじん  NaN   10700.0   417000.0   386200.0
8                にんじん   春夏    2490.0   111000.0   103400.0
9                にんじん    秋    3990.0   146700.0   136500.0
10               にんじん    冬    4240.0   159300.0   146300.0
12  ばれいしょ  　　　（じゃがいも）  NaN   48700.0  1821000.0  1634000.0

In [24]:
df = df.rename(columns={0: "Crop", 1: "Season", 5: "Cultivated Area (ha)", 6: "Harvested Amount (t)", 7: "Shipped Amount (t)"})
print(df.head(10))

                 Crop Season  Cultivated Area (ha)  Harvested Amount (t)  \
0                   計    NaN              151600.0             6611000.0
2                だいこん    NaN                7920.0              433300.0
3                だいこん      春                1090.0               63500.0
4                だいこん      夏                3160.0              137700.0
5                だいこん     秋冬                3660.0              232100.0
7                にんじん    NaN               10700.0              417000.0
8                にんじん     春夏                2490.0              111000.0
9                にんじん      秋                3990.0              146700.0
10               にんじん      冬                4240.0              159300.0
12  ばれいしょ  　　　（じゃがいも）    NaN               48700.0             1821000.0

    Shipped Amount (t)
0            6061000.0
2             402200.0
3              60600.0
4             129700.0
5             211900.0
7             386200.0
8             103400.0
9             136500.0
10            146300.0
12           1634000.0

In [27]:
translation_dict = {
    "計": "Total",
    "だいこん": "Daikon Radish",
    "にんじん": "Carrot",
    "ばれいしょ": "Potato",
    "ばれいしょ  　　　（じゃがいも）": "Potato",  # Fix extra spaces
    "じゃがいも": "Potato",
    "秋冬さといも": "Autumn-Winter Taro",
    "はくさい": "Chinese Cabbage",
    "キャベツ": "Cabbage",
    "ほうれんそう": "Spinach",
    "レタス": "Lettuce",
    "ねぎ": "Green Onion",
    "たまねぎ": "Onion",
    "きゅうり": "Cucumber",
    "なす": "Eggplant",
    "トマト": "Tomato",
    "ピーマン": "Bell Pepper",

    # Season Names
    "春": "Spring",
    "夏": "Summer",
    "秋": "Autumn",
    "冬": "Winter",
    "秋冬": "Autumn-Winter",
    "春夏": "Spring-Summer",
    "夏秋": "Summer-Autumn",
    "冬春": "Winter-Spring",
}
# Translate Crop Names and Seasons
df["Crop"] = df["Crop"].replace(translation_dict)
df["Season"] = df["Season"].replace(translation_dict)
print(df.head(10))

             Crop         Season  Cultivated Area (ha)  Harvested Amount (t)  \
0           Total            NaN              151600.0             6611000.0
2   Daikon Radish            NaN                7920.0              433300.0
3   Daikon Radish         Spring                1090.0               63500.0
4   Daikon Radish         Summer                3160.0              137700.0
5   Daikon Radish  Autumn-Winter                3660.0              232100.0
7          Carrot            NaN               10700.0              417000.0
8          Carrot  Spring-Summer                2490.0              111000.0
9          Carrot         Autumn                3990.0              146700.0
10         Carrot         Winter                4240.0              159300.0
12         Potato            NaN               48700.0             1821000.0

    Shipped Amount (t)
0            6061000.0
2             402200.0
3              60600.0
4             129700.0
5             211900.0
7             386200.0
8             103400.0
9             136500.0
10            146300.0
12           1634000.0

In [28]:
df["Season"] = df["Season"].fillna("All Seasons")
print(df.head(10))

             Crop         Season  Cultivated Area (ha)  Harvested Amount (t)  \
0           Total    All Seasons              151600.0             6611000.0
2   Daikon Radish    All Seasons                7920.0              433300.0
3   Daikon Radish         Spring                1090.0               63500.0
4   Daikon Radish         Summer                3160.0              137700.0
5   Daikon Radish  Autumn-Winter                3660.0              232100.0
7          Carrot    All Seasons               10700.0              417000.0
8          Carrot  Spring-Summer                2490.0              111000.0
9          Carrot         Autumn                3990.0              146700.0
10         Carrot         Winter                4240.0              159300.0
12         Potato    All Seasons               48700.0             1821000.0

    Shipped Amount (t)
0            6061000.0
2             402200.0
3              60600.0
4             129700.0
5             211900.0
7             386200.0
8             103400.0
9             136500.0
10            146300.0
12           1634000.0

In [35]:
df = df[df["Crop"] != "Total"]
df = df.iloc[:-1]  # Removes the last row
print(df.head(20))

                  Crop         Season  Cultivated Area (ha)  \
2        Daikon Radish    All Seasons                7920.0
3        Daikon Radish         Spring                1090.0
4        Daikon Radish         Summer                3160.0
5        Daikon Radish  Autumn-Winter                3660.0
7               Carrot    All Seasons               10700.0
8               Carrot  Spring-Summer                2490.0
9               Carrot         Autumn                3990.0
10              Carrot         Winter                4240.0
12              Potato    All Seasons               48700.0
14  Autumn-Winter Taro    All Seasons                1350.0
16     Chinese Cabbage    All Seasons                5740.0
17     Chinese Cabbage         Spring                 869.0
18     Chinese Cabbage         Summer                1850.0
19     Chinese Cabbage  Autumn-Winter                3020.0
21             Cabbage    All Seasons               17400.0
22             Cabbage         Spring                3170.0
23             Cabbage  Summer-Autumn                6630.0
24             Cabbage         Winter                7620.0
26             Spinach    All Seasons                5860.0
28             Lettuce    All Seasons               14600.0

    Harvested Amount (t)  Shipped Amount (t)
2               433300.0            402200.0
3                63500.0             60600.0
4               137700.0            129700.0
5               232100.0            211900.0
7               417000.0            386200.0
8               111000.0            103400.0
9               146700.0            136500.0
10              159300.0            146300.0
12             1821000.0           1634000.0
14               26900.0             21300.0
16              427200.0            390100.0
17               65400.0             61900.0
18              148100.0            136100.0
19              213700.0            192100.0
21              864900.0            791300.0
22              141900.0            132500.0
23              373700.0            330300.0
24              349300.0            328500.0
26               59000.0             53000.0
28              428700.0            410900.0

In [34]:
df.to_excel("cleaned_vegetable_production_2023.xlsx", index=False)